<div class="content {{storedTheme}}" role="main">
  {{storedTheme}}
  <h5 class="text-center title">(Light/Dark)</h5>

  <div class="content-box">

    <h3>Custome Dark Theme Toggle /Angular</h3>
    <h5>(Angular, SCSS/CSS,Local Storage)</h5>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, molestiae, natus. Corporis eos
      exercitationem laboriosam obcaecati odio? Aut distinctio fugit harum illum neque
      obcaecati officia porro qu<div class="theme-switcher-wrap">
    <label
      [ngClass]="(storedTheme==='theme-dark')?'theme-switcher active' : 'theme-switcher'"
      (click)="setTheme()"
    >
      <div class="switch-path">
        <div class="switch-handle"></div>
      </div>
      <div class="switch-5path">
        <div class="switch-handle"></div>
      </div>
    </label>
  </div>ae quasi, quos, saepe.
    <p> CopyRight @ Sachini 2022</p>
  </div>

</div>
