/* You can add global styles to this file, and also import other style files */

*{
  box-sizing: border-box;
}

html{
  height: 100%;

}

body {

  color:#222;
  height: 100vh;
  background-color: #ccc;
  padding:0;
  margin:0;
}

